In [26]:
age = int(input())
if age >= 19:
    print(9000-1250)
elif   age >= 13:
    print(9000-1050)
else:
    print(9000-650)

20
7750

In [37]:
a=int(input())
for i in range(1,10):  
    print(a,'*',i,'=',a*i,end =' ')
    print()

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [42]:
a=int(input())
while a>=1350:
    a= a - 1350
    print(a)

10000
8650
7300
5950
4600
3250
1900
550

In [63]:
start, stop = map(int, input().split())
i = start
while True:
    if i % 10 == 3:
      i += 1
      continue
    if i > stop:
      break
    print(i, end=' ')
    i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [74]:
a = int(input())
for i in range(a):
    print(' '*(a-(i+1)),'*'*(2*i+1),sep='')

3
  *
 ***
*****

In [79]:
a, b = map(int,input().split())
c = [2**i for i in range(a,b+1)]
c.pop(1)
c.pop(-2)
print(c)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [81]:
# 강사님 문제
for a in range(1,1000):
  for b in range(a,1000):
    for c in range(b,1000):
      if a + b + c == 1000 and a*a + b*b == c*c:
        print(a,b,c)

200 375 425

In [101]:
# 강사님 문제 2
birthday = input('생일을 입력하시오 ex(1995 05 11)').split()
from datetime import date
if int(birthday[1]) < today.month:
  print(today.year - int(birthday[0]))
elif int(birthday[1]) == today.month and int(birthday[2]) < today.day:
  print(today.year - int(birthday[0]))
else:
    print(today.year - int(birthday[0])-1)

생일을 입력하시오 ex(1995 05 11)1995 05 11
26

In [115]:
# 강사님 문제 3
a = 0
for i in range(24):
  if i % 10 ==3 or i // 10 ==3:
    a = a+ 60*60
    continue
  for k in range(60):
    if k % 10 ==3 or k // 10 ==3:
      a = a + 60
a

29700