# Unit 29.함수

In [ ]:
# 함수를 만들때 ()를 뒤에 붙여주어야한다
def hello():
  print('hello,world!')
hello()

hello,world!

29.2 덧셈 함수

In [ ]:
# 매개변수, parametar, argument
def add(a, b):
  print(a + b)

In [ ]:
add(4,5)

9

In [ ]:
# Docstrings 함수 설명하는 기능
def add(a, b):
  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  """
  print(a + b)

In [ ]:
# 도움말 호출
add?

## 29.3 결과값 반환

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(4, 5), add(10,20)

(9, 30)

In [ ]:
x = add(23,45)
x

68

In [ ]:
def is_ten(x):
  return x == 10

In [ ]:
is_ten(1010//10)

False

In [ ]:
def not_ten(x):
  if x == 10:
    return
  else:       # else가 빠져도 무관하다
    print('It is not 10.')

In [ ]:
not_ten(5)

It is not 10.

##29.4 여러개의 결과값 반환

In [ ]:
def add_sub(a,b):
  return a+b, a-b

In [ ]:
x, y = add_sub(15,7)        # tuple unpacking 에 의해서 파이썬에서 가능

In [ ]:
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [ ]:
# stack을 이용한다

## 연습 문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?
- 팔린드롬이란 (ex 12321) 대칭 구조인 숫자

In [106]:
def pali(a,b):
  max_pal, m, n = 0, 0, 0
  for i in range(a,b):
    for k in range(i,b+1):   # i*k 곱한값이 팔린드롬인지를 확인 팔린드롬이면 max_pal과 비교
      t = i*k
      s = str(t)
      if  s == s[::-1]:
        if i*k > max_pal:
          max_pal = i*k
          m = i
          n = k
  return (f'{m} x {n} = {max_pal}')

In [109]:
pali(100,500)

'462 x 481 = 222222'

In [ ]:
# 강사님풀이
def is_palindrome(x):
  s = str(x)
  return s == s[::-1]

max_pal, m, n = 0, 0, 0
for i in range(100,1000):
  for k in range(i,1000):   # i*k 곱한값이 팔린드롬인지를 확인 팔린드롬이면 max_pal과 비교
    if is_palindrome(i*k):
      if i*k > max_pal:
        max_pal = i*k
        m = i
        n = k
print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609