# Unit30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [2]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [3]:
print_numbers(10,20,30)

10
20
30

In [8]:
# *x  << 리스트/튜플 언팩킹
x, y = [10, 20, 30],(40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [9]:
#가변인수를 쓰고싶을때 args, arg를 이용해준다
def print_numbers2(*args):
  for arg in args:
    print(arg)

In [10]:
print_numbers2(10,20,30,40)

10
20
30
40

In [11]:
print_numbers2(10)

10

### 고정 인수와 가변 인수

In [12]:
def print_numbers3(a,*args):
  print(a)
  print(args)

In [13]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [14]:
print_numbers3(*x)

10
(20, 30)

In [15]:
def print_numbers4(*args, a):
  print(args)
  print(a)

In [17]:
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야한다
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [18]:
def personal_info(name,age,addr):
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [19]:
personal_info('홍길동',30,'서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [20]:
personal_info(age=30,addr='서울 강남구 도곡동',name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언팩킹

In [23]:
x = {'name':'홍길동','age':30,'addr':'서울 강남구 도곡동'}
personal_info(**x) # * 두개 사용 // *하나는 키만 가져옴

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

### 가변 키워드 인수

In [24]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [27]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [28]:
personal_info2(name='홍길동',age=30)

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

In [29]:
def personal_info3(name,**kwargs):
  print(name)
  print(kwargs)

In [30]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [35]:
def my_print(*args, **kwargs):
  print(*args, **kwargs)

In [36]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [37]:
def personal_info4(name, age, addr = '비공개'): ##초기값이 지정된 매개변수는 맨 뒤에 와야한다
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [38]:
personal_info4('홍길동',30)

이름: 홍길동
나이: 30
주소: 비공개

In [39]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동