# Unit 31. 재귀호출(Recursive call)
- 함수안에서 자기를 호출

## factorial 함수를 재귀호출로 구현

In [2]:
def factorial(n):
  if n == 0:
    return 1
  return n*factorial(n-1)

In [3]:
factorial(5)

120

### fibonacci 수열
f(n) = f(n-1) + f(n-2),// n >= 3 ,f(1) = 1, f(2) =1

In [4]:
def fibo(n):
  if n == 1 or n == 2:
    return 1
  return fibo(n-1) + fibo(n-2)

In [7]:
[fibo(i) for i in range(1,11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]