# Unit 32. 람다 함수 - 익명(Anonymous)함수

In [1]:
def plus_ten(x):
  return x + 10

In [2]:
plus_ten(5)

15

In [3]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [4]:
(lambda x: x +10)(5)

15

In [5]:
list(map(lambda x: int(x) + 10, input().split()))

2 5 10

[12, 15, 20]

In [6]:
def plus_ten(x):
  return int(x) + 10
list(map(plus_ten, input().split()))

2 5 10

[12, 15, 20]

### 제약 사항

In [ ]:
# 람다함수에서 변수를 만들 수 없음
(lambda x: y= 10; x+y)(3) #불가능
y = 10
(lambda x: x+y)(3)    # 미리 변수를 설정해놓으면 사용가능

### 조건부 함수

In [8]:
# 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x: str(x) if x % 3 == 0 else x, a)) # 람다 표현식에서 if 사용하면 반드시 else를 사용해야한다

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [9]:
# 리스트 a에서 3의 배수수를 문자열로, 5의 배수는 실수로 변환
list(map(lambda x: str(x) if x % 3 == 0 else float(x) if x % 5 == 0 else x, a))  # elif 는 사용할 수 없다. (3항 연산자)

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [11]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x, y: x*y,a ,b))

[6, 14, 24, 36, 50]

### filter

In [12]:
a = list(range(1,11))
list(filter(lambda x: 4 <= x < 8,a))

[4, 5, 6, 7]