#Unit 6.변수와 입력

## 6.1 변수
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [1]:
x = 10
x

10

In [4]:
s = 'hello. world!'
s

'hello. world!'

In [5]:
type(x),type(s)

(int, str)

In [6]:
x,y,z = 10, 20, 30
x,y,z

(10, 20, 30)

In [ ]:
del z # 변수 지우기
print(z)

In [9]:
x = None #변수에 아무값도 넣지 않겠다 = Null
print(x)
x

None

## 6.2 변수로 계산

In [11]:
a = 10
a = a + 10
a

20

In [10]:
a = 10
a += 10  # a = a + 10
a

20

In [14]:
sum, prod = 0, 1
for i in range(1,11):
  sum += i
  prod *= i
sum, prod

(55, 3628800)

## 6.3 입력(input)

In [15]:
x = input()

hello, worlld!

'hello, worlld!'

In [18]:
x = input('1에서 10사이의 정수 값> ') #prompt

1에서 10사이의 정수 값> 7

In [19]:
# 입력한 두 정수의 합
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
a+b # input은 str으로 대응

첫번째 정수> 5
두번째 정수> 7

'57'

In [20]:
int(a)+int(b)

12

In [22]:
a = int(input('첫번째 정수>'))
b = int(input('두번째 정수>'))
a+b

첫번째 정수>1
두번째 정수>2

3

## 6.4 입력값 두개

In [23]:
s.split()

['hello.', 'world!']

In [25]:
a, b = s.split() # .split() ()을 기준으로 분리해라
a, b

('hello.', 'world!')

In [26]:
a, b = [10, 11]
a, b

(10, 11)

In [29]:
a, b = input('정수 두개를 입력해 주세요 >').split()
a, b

정수 두개를 입력해 주세요 >10 20

In [35]:
a, b = input('정수 두개를 입력해 주세요 컴마로 구분 >').split(',')
a, b

정수 두개를 입력해 주세요 컴마로 구분 >10,20

('10', '20')

### map 활용

In [36]:
a, b = map(int,[10.2, 11.4]) # map(A,B) B의 값들을 A에 적용
a, b

(10, 11)

In [38]:
import math
a, b = map(math.sqrt,[1, 4])
a, b

(1.0, 2.0)

In [37]:
a, b = map(int,input('정수 두개를 입력해 주세요 >').split())
a + b

정수 두개를 입력해 주세요 >10 20

30