# Unit 38. 예외 처리

## 38.1 try - except

In [2]:
a =[1,2,3]
try:
  a[4]
except:
  print('예외 발생')

예외 발생

In [4]:
int('10d')

ValueError: ignored

In [5]:
try:
  int('10d')
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다.')
except IndexError:
  print('Index Error 발생')
except ValueError:
  print('Value Error 발생')

Value Error 발생

### 예외의 에러 메시지 받아오기

In [9]:
try:
  int('10d')
except Exception as e:   # alias 
  print(e)               # Exception 객체의 __str__() method

<class 'Exception'>

## 38.2 else - finally

In [12]:
try:
  x = int(input('나눌 숫자를 입력 > '))
  y = 10 / x
except Exception as e:
  print(e)
else:
  print(y)

나눌 숫자를 입력 > j
invalid literal for int() with base 10: 'j'

In [14]:
# 예외와 상관없이 항상 실행
try:
  x = int(input('나눌 숫자를 입력 > '))
  y = 10 / x
except Exception as e:
  print(e)
else:
  print(y)
finally:
  print('코드 실행 종료')

나눌 숫자를 입력 > ㅗ
invalid literal for int() with base 10: 'ㅗ'
코드 실행 종료

## 38.3 예외 발생시키기

In [29]:
import random
try:
  x = random.randint(1,10)
  print(x)
  if x % 3 != 0:
    raise Exception('3의 배수가 아닙니다.')
except Exception as e:
  print('예외 발생', e)

6

In [35]:
def mulitple11(x):
  if x % 11 != 0:
    raise Exception('11의 배수가 아닙니다.')
  print(x)

In [36]:
try:
  mulitple11(100)
except Exception as e:
  print('예외 발생 -', e)

예외 발생 - 11의 배수가 아닙니다.

In [ ]:
try:
  for():
    for():
      for():
        if 조건:
          raise Exception()        #한번에 루프탈출
except:
  ;

## 38.4 예외 만들기

In [ ]:
# Exeption 객체를 상속받아 객체를 만들면 됨