# Unit 34. 클래스(Class)

##34.1 클래스와 메서드 만들기

In [7]:
class Person:     # 클래스 이름은 대문자로 시작
  def greeting(self):
    print('Hello')

In [9]:
# 인스턴스를 만들어야 클래스를 사용할 수 있다.
james = Person()
maria = Person()

In [11]:
james.greeting()

Hello

In [12]:
maria.greeting()

Hello

In [13]:
Person().greeting()

Hello

In [14]:
# 클래스 내에서 메서드 호출하기
class Person:
  def greeting(self):
    print('Hello')
  def hello(self):
    self.greeting()

In [16]:
james = Person()
james.hello()

Hello

In [18]:
isinstance(james, Person)

True

In [22]:
def factorial(n):
  if not isinstance(n, int):
    return None
  if n == 0:
    return 1
  return n*factorial(n-1)

In [23]:
factorial(3.14)

In [24]:
factorial(6)

720

## 34.2 속성(Attribute)

In [25]:
class Person:
  def __init__(self):
    self.hello = '안녕하세요'   # hello 속성을 갖게 됨
  def greeting(self):
    print(self.hello)

In [27]:
maria = Person()
maria.greeting()

안녕하세요

In [29]:
maria.hello = 'How are you?'
maria.greeting()

How are you?

In [30]:
class Person:
  def __init__(self, hello):    # Constructor
    self.hello = hello
  def greeting(self):
    print(self.hello)

In [31]:
james = Person('안녕하세요?')
maria = Person('How are you?')

In [33]:
james.greeting()
maria.greeting()

안녕하세요?
How are you?

In [37]:
class Person:
  def __init__(self, name, age, addr):       # *args, **kwargs 적용가능
    self.hello = '안녕하세요?'
    self.name = name
    self.age = age
    self.addr = addr
  def greeting(self):
    print(f'{self.hello} 저는 {self.name} 입니다.')
  # JAVA의 toString() method
  def __str__(self):       # print로 출력하고 싶을경우 __str__을 사용해준다
    return f'hello: {self.hello}, name: {self.name}, age: {self.age}, addr: {self.addr}'

In [39]:
maria = Person('마리아', 23, '서울시 강남구 도곡동')
maria.greeting()

안녕하세요? 저는 마리아 입니다.

In [40]:
print(maria)

hello: 안녕하세요?, name: 마리아, age: 23, addr: 서울시 강남구 도곡동

## 34.3 비공개 속성

In [41]:
maria.age = 30
print(maria)

hello: 안녕하세요?, name: 마리아, age: 30, addr: 서울시 강남구 도곡동

In [58]:
class Person:
  def __init__(self, name, age, addr, wallet): 
    self.name = name
    self.age = age
    self.addr = addr
    self.__wallet = wallet       # __ 를 붙여 wallet 속성을 비공개
  def greeting(self):
    print(f'안녕하세요? 저는 {self.name} 입니다.')
  def pay(self, amount):          # 비공개 속성은 class 안에서만 수정할 수 있다.
    if self.__wallet - amount < 0:
      print('지갑에 돈이 부족합니다.')
      return
    self.__wallet -= amount
    print(f'지갑에 남은 금액은 {self.__wallet}입니다.')
  def __str__(self): 
    return f'name: {self.name}, age: {self.age}, addr: {self.addr}, wallet: {self.__wallet}'

In [69]:
james = Person('제임스',27,'서울 강남구 역삼동',10000)
james.greeting()

안녕하세요? 저는 제임스 입니다.

In [70]:
print(james)

name: 제임스, age: 27, addr: 서울 강남구 역삼동, wallet: 10000

In [71]:
# __wallet은 비공개 속성이므로 클래스 바깥에서는 변경할 수 없다.
james.__wallet = 1000000

In [72]:
print(james)

name: 제임스, age: 27, addr: 서울 강남구 역삼동, wallet: 10000

In [73]:
james.pay(5000)

지갑에 남은 금액은 5000입니다.

In [74]:
james.pay(10000)

지갑에 돈이 부족합니다.

In [75]:
print(james)

name: 제임스, age: 27, addr: 서울 강남구 역삼동, wallet: 5000

### 연습 문제

In [106]:
# 계좌 만들기
class Account:
  def __init__(self,ano,owner,balance):
    self.ano = ano
    self.owner = owner
    self.__balance = balance
  def deposit(self, amount):
    if self.__balance + amount >= 10000000:
      print('천만원 이상은 갖고 있을 수 없습니다.')
      return
    self.__balance += amount
    print(f'계좌에 {self.__balance}원 남았습니다.')
  def withdraw(self, amount):
    if self.__balance < amount:
      print('잔액이 부족합니다.')
      return
    self.__balance -= amount
    print(f'계좌에 {self.__balance}원 남았습니다.')
  def __str__(self):
    return f'계좌번호 : {self.ano}, name : {self.owner}, 잔액 : {self.__balance:9,d}'

In [107]:
seop = Account('112233','신권섭',100000)

In [108]:
print(seop)

계좌번호 : 112233, name : 신권섭, 잔액 :   100,000

In [109]:
seop.deposit(1000)

계좌에 101000원 남았습니다.

In [110]:
seop.deposit(10000001)

천만원 이상은 갖고 있을 수 없습니다.

In [111]:
seop.withdraw(100500)

계좌에 500원 남았습니다.

In [112]:
acc2 = Account('987432','마리아', 3000000)
print(acc2)

계좌번호 : 987432, name : 마리아, 잔액 : 3,000,000

In [127]:
acc_list = [seop, acc2]

In [128]:
for account in acc_list:
  print(account)

계좌번호 : 112233, name : 신권섭, 잔액 :       500
계좌번호 : 987432, name : 마리아, 잔액 : 3,000,000

### 1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료

In [ ]:
def create_account():
  new_ano = input('6자리 숫자를 입력해 주세요 > ')
  if new_ano in acc_list:
    print('이미 존재하는 계좌번호입니다.')
  else:
    new_name = input('이름을 입력해 주세요 > ')
        new_acc = Account(new_ano,new_name,0)
    

  pass

In [132]:
# 강사님 답 
# 사용자로부터 필요한 정보를 입력 받아서 계좌를 생성함
def create_account():
  s = input('계좌번호 성명 금액 > ').split()
  ano, owner = s[0], s[1]
  amount = int(s[2])
  acc = Account(ano, owner, amount)
  acc_list.append(acc)

In [135]:
# 사용자로부터 필요한 정보를 입력 받아서 계좌에 돈을 입금함
def deposit_account():
  s = input('계좌번호 금액').split()
  ano, amount = s[0], int(s[1])
  for acc in acc_list:
    if acc.ano == ano:
      acc.deposit(amount)
      return

In [137]:
# 사용자로부터 필요한 정보를 입력 받아서 계좌에 돈을 출금함
def withdraw_account():
  s = input('계좌번호 금액').split()
  ano, amount = s[0], int(s[1])
  for acc in acc_list:
    if acc.ano == ano:
      acc.withdraw(amount)
      return

In [139]:
while True:
  menu = int(input('1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 > '))
  if menu == 5:
    break
  if menu == 1:
    create_account()
  elif menu == 2:
    for account in acc_list:
      print(account)
  elif menu == 3:
    deposit_account()
  elif menu == 4:
    withdraw_account()
  else:
    print('잘못된 명령어입니다.')
  
  print()

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 > 4
계좌번호 금액333555 10000
계좌에 1240000원 남았습니다.

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 > 2
계좌번호 : 112233, name : 신권섭, 잔액 :       500
계좌번호 : 987432, name : 마리아, 잔액 : 3,000,000
계좌번호 : 333555, name : 홍길동, 잔액 : 1,240,000
계좌번호 : 321532, name : 김두환, 잔액 :   210,000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 > 53
잘못된 명령어입니다.

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 > 5